<aside class="side-menu">
  <div class="spacer"></div>

  <div class="menu-item">
    <a href="./index.html">
      <img src="./assets/icons/home.png" alt="홈" />
      <span>홈</span>
    </a>
  </div>

  <div class="menu-item">
    <a href="#">
      <img src="./assets/logo/headlogo.png" alt="쇼츠" />
      <span>쇼츠</span>
    </a>
  </div>

  <div class="menu-item">
    <a href="./pages/subscribe.html">
      <img src="./assets/icons/gudock.png" alt="구독" />
      <span>구독</span>
    </a>
  </div>
</aside>